body {
    background-color: rgb(49, 5, 49);
    color: rgb(209, 209, 31);
}

h1 {
    text-align: center;
}

.page_body {
    display: flex;
}

.discord {
    width: 30%
}

.articles {
    flex: 1;
    overflow: auto;
}
