body {
    #background-color: rgb(49, 5, 49);
    background-color: rgb(78, 64, 78);
    color: rgb(250, 218, 94);
    font-family: verdana, sans-serif;
    font-size: medium;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

h1 {
    text-align: center;
}

.page_body {
  display: flex;
  transition: margin-left .5s;
  padding: 20px;
}

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  left: 0;
  top: 40px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  font-size: medium;
}

.sidebar a {
  color: rgb(250, 218, 94);
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  background-size: 100%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 12px;
  position: relative;
}

.sidebar a:hover {
  background-color: rgb(250, 218, 94);
  color: rgb(78, 64, 78);
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding-top: 10px;
  padding-bottom: 10px;
}

a:visited {
    color: rgb(250, 218, 94);
}

.sidebar .closebtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(78,64, 78);
  color: rgb(250, 218, 94);
}

.openbtn.hover {
  background-color: #444;
}

.articles {
    flex: 1;
    overflow: auto;
}

article {
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

article h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.calendar {
  border: 0;
  width: 100%;
  height: 600px;
  border: 0;
  visibility: hidden;
}

.contact_us {
  width: 100%;
  height: 880px;
  border: 0;
  margin-height: 0;
  margin-width: 0;
  
}

table {
  padding-left: 20px;
  font-size: medium;
}

td {
  padding-right: 20px;
  font-size: medium;
}

.bottom-bar {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(250, 218, 94);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.bottom-bar-content {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.bottom-bar-content > * {
  display: flex;
  align-items: center;
}

@media screen and (max-height: 500) {
    .sidebar {padding-top: 15px;}
    .openbtn (font-size: 88px}
}

