body {
    background-color: rgb(49, 5, 49);
    color: rgb(209, 209, 31);
}

h1 {
    text-align: center;
}

.discord {
    position: fixed;
    top: 50%;
    transform: tanslate(0px, -50%)
}

.articles {
    right: 0;
}
